
$primary-header: rgb(62, 141, 169);
$bottom-header: rgb(53, 130, 155);

$white: rgb(255,255,255);

$orange-base: rgb(241, 111, 52);
$orange-001: rgb(218, 101, 40);

$grey-base: rgb(169, 169, 169);

$red-error : #a94442;

$blue-base : rgb(58, 104, 174);

$font-size-14: 14px;
$font-size-18: 18px;
$font-size-32: 32px;
